*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title {
    font-size: 65px;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: rgb(26, 26, 80);
    text-shadow: 0px 4px 5px rgb(85, 85, 85);

}

#name {
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(67, 48, 172);
    text-decoration: overline;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display SC';
    text-shadow: 0px 3px 4px rgb(85, 85, 85);
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text{
    margin-right: 70px;
}

.video__video{
    width: 400px;
    height: 250px;
}