#title {
    font-size: 65px;
    text-align-last: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: rgb(26, 26, 80);
    text-shadow: 0px 4px 5px rgb(85, 85, 85);

}

#name {
    margin-top: 20px;
    color: rgb(67, 48, 172);
    text-decoration: overline;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display SC';
    text-shadow: 0px 3px 4px rgb(85, 85, 85);
}

.content {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    column-gap: 300px;
    width: 800px;

}


#lyrics {
    margin-left: 150px;
    text-decoration: underline;
    font-size: 40px;
    text-align: left;
    font-family: 'Playfair Display SC';
    text-shadow: 0px 3px 4px rgb(85, 85, 85);
}

#text {
    margin-top: 25px;
    font-size: 23px;
    text-align: left;
    font-family: 'Playfair Display SC';

}